.all-params{
  right: 10px;
  top: 10px;
  background: rgb(255 255 255 / 78%);
  width: 300px;
  border-radius: 10px;
  padding: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 13px #00000061;
  position: fixed;
}

.visual-box{
  position: relative;
  iframe{
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    z-index: 1000;
    background: #fff;
  }
  &-img{
    position: absolute;
    left: 0;
    top: 0;
  }
}